<html style="font-family:helvetica">
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content="width=device-width">
        <title> Key </title>
        <div align=center>
            <h1> Key </h1>
        </div>
    </head>
    <body>
        <div align=center>
        <hr>
            <a href="home">Home</a> &nbsp;&nbsp;
            <a href="profile">Profile</a> &nbsp;&nbsp;
            <a href="key">Key</a> &nbsp;&nbsp;
            <a href="thisweek">This Week</a> &nbsp;&nbsp;
            <a href="today">Today</a>
        <hr>
        <p>
            <b> ● Tasks: </b> Things you have to do <br>
            <b> ⁃ Notes: </b> Things you do not want to forget <br>
            <b> ○ Events: </b> Noteworth moments in time <br>
            <b> 
                <br> ● Task incomplete
                <br> ✘ Task complete
            </b>
        </p>
        </div>
    </body>
</html>