<html style="font-family:helvetica">
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content="width=device-width">
        <title> Key </title>
        <div align=center>
            <h1> ♢ Key ♢ </h1>
        </div>
    </head>
    <body>
        <div align=center>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> Open Modal </button>
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"> Modal Header </h4>
                        </div>
                        <div class="modal-body">
                            <p> Some text in the modal. </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
                        </div>
                    </div>
                </div>
            </div>
        <hr>
            <a href="home">Home</a> &nbsp;&nbsp;
            <a href="profile">Profile</a> &nbsp;&nbsp;
            <a href="key">Key</a> &nbsp;&nbsp;
            <a href="thisweek">This Week</a> &nbsp;&nbsp;
            <a href="today">Today</a>
        </div>
    </body>
</html>