<html style="font-family:helvetica">
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content="width=device-width">
        <title> Key </title>
        <div align=center>
            <h1> ♢ Key ♢ </h1>
        </div>
    </head>
    <body>
        <hr>
        <div align=center>
            {% if key %}
                <p> <b>{{ key }}</b> {{ description }}</p>
                <button onclick="addKey()"> Add Key </button>
            {% else %}
                <button onclick="addKey()"> Add Key </button>
            {% endif %}

            <dialog hidden id="key_form">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" name="add_key"> Add Key </button>
                </form>
            </dialog>
        
            <script>
                function addKey() {
                    var showKForm = document.getElementById("key_form");
                    if (showKForm.style.display == "none") {
                        showKForm.style.display = "block";
                    } else {
                        showKForm.style.display = "block";
                    }
                }
            </script>
        
        <hr>
            <a href="home">Home</a> &nbsp;&nbsp;
            <a href="profile">Profile</a> &nbsp;&nbsp;
            <a href="key">Key</a> &nbsp;&nbsp;
            <a href="thisweek">This Week</a> &nbsp;&nbsp;
            <a href="today">Today</a>
        </div>
    </body>
</html>