<html style="font-family:helvetica">
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content="width=device-width">
        <title> Your Bujo </title>
        <div align=center>
            <h1> ✍︎ Your Bullet Journal ✍︎ </h1>
            <hr>
            <h2> Hello, {{ name }}! Today is going to be a great day! ☼ </h2>
        </div>
    </head>
    <body>
        <hr>
        <div align=center>
            <a href="home">Home</a> &nbsp;&nbsp;
            <a href="profile">Profile</a> &nbsp;&nbsp;
            <a href="key">Key</a> &nbsp;&nbsp;
            <a href="thisweek">This Week</a> &nbsp;&nbsp;
            <a href="today">Today</a>
        </div>
    </body>
</html>