{% load static %}
<html style="font-family:helvetica">
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content="width=device-width">
        <title> Profile </title>
        <div align=center>
            <h1> ✌︎ Profile ✌︎ </h1>
        </div>
        <hr>
    </head>
    <body>
        <div align=center>
            {% if upload_picture %}
                <img src="{{ MEDIA_URL }}{{ last_picture.picture }}" height="300", alt="Updated Profile Picture">
            {% elif update_info %}
                <img src="{{ MEDIA_URL }}{{ last_picture.picture }}" height="300", alt="Updated Profile Picture">
            {% else %}
                <img src="{% static 'image/default.png' %}" height="300">
            {% endif %}
            <button onclick="uploadPic()"> Change </button>


            {% if update_info %}    
                <p><b> Nickname: </b></p> 
                    {{ last_info.nickname }}
                <button onclick="updateInfo()"> Edit </button> 
                <p><b> Bio: </b></p>
                    {{ last_info.bio }}
                <button onclick="updateInfo()"> Edit </button>
            {% elif upload_picture %}
                <p><b> Nickname: </b></p> 
                {% if update_info %}
                    {{ last_info.nickname }}
                {% else %}
                    Your nickname
                {% endif %}
                <button onclick="updateInfo()"> Edit </button> 
                <p><b> Bio: </b></p>
                {% if update_info %}
                    {{ last_info.bio }}
                {% else %}
                    A short description about yourself
                {% endif %}
                <button onclick="updateInfo()"> Edit </button>
            {% else %}
                <p><b> Nickname: </b></p>
                    Your nickname 
                <button onclick="updateInfo()"> Edit </button> 
                <p><b> Bio: </b></p>
                    A short description about yourself
                <button onclick="updateInfo()"> Edit </button> 
            {% endif %}

            <dialog hidden id="picture_form">
                <form method = "post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ formpicture.as_p }}
                    <button type="submit"> Upload Picture </button>
                </form>
            </dialog>
            <dialog hidden id="info_form">
                <form method = "post">
                    {% csrf_token %}
                    {{ forminfo.as_p }}
                    <button type="submit"> Update Information </button>
                </form>
            </dialog>

        <script>
            function uploadPic() {
                var showPForm = document.getElementById("picture_form");
                if (showPForm.style.display == "none") {
                    showPForm.style.display = "block";
                } else {
                    showPForm.style.display = "block";
                }

            }
            function updateInfo() {
                var showIForm = document.getElementById("info_form");
                if (showIForm.style.display == "none") {
                    showIForm.style.display = "block";
                } else {
                    showIForm.style.display = "block";
                }
            }
        </script>
        
        <hr>
            <a href="home">Home</a> &nbsp;&nbsp;
            <a href="profile">Profile</a> &nbsp;&nbsp;
            <a href="key">Key</a> &nbsp;&nbsp;
            <a href="thisweek">This Week</a> &nbsp;&nbsp;
            <a href="today">Today</a>
        </div>
    </body>
</html>