{% load static %}
<html style="font-family:helvetica">
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content="width=device-width">
        <title> Profile </title>
        <div align=center>
            <h1> ✌︎ Profile ✌︎ </h1>
        </div>
        <hr>
    </head>
    <body>
        <div align=center>
            {% if upload %}
                <img src="{{ upload.picture.url }}" width="300", alt="Updated Profile Picture"> <br>
                <table>
                    <tr> 
                        <th> Nickname: </th>
                        <td> Your Nickname </td>
                        <td> <button type="button"> Edit </button> </td>
                    </tr>
                    <tr>
                        <th> Bio: </th>
                        <td> A short description about yourself. </td>
                        <td> <button type="button"> Edit </button> </td>
                    </tr>
                </table>
            {% else %}
                <img src="{% static 'image/default.png' %}" width="300">
                <form method = "post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit"> Change </button>
                </form>
            {% endif %}
        <hr>
            <a href="home">Home</a> &nbsp;&nbsp;
            <a href="profile">Profile</a> &nbsp;&nbsp;
            <a href="key">Key</a> &nbsp;&nbsp;
            <a href="thisweek">This Week</a> &nbsp;&nbsp;
            <a href="today">Today</a>
        </div>
    </body>
</html>