<html style="font-family:helvetica">
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content="width=device-width">
        <title> This Week </title>
        <div align=center>
            <h1> ☾ This Week ☽ </h1>
        </div>
    </head>
    <body>
        <div align=center>
            <p style="font-size:20px"><b><i> 03.15.MON - 03.21.SUN </i></b></p>
        <hr>
            <p>
                <b> Schoolwork: </b> <br>
                <i>
                    ✘ [HISTO 12] Module 4 <br>
                    ○ [NSTP 11] 16, 2PM Session with Ms. Jean <br>
                    ● [THEO 12] Module 3 <br>
                    ✘ [CSCI 40] Lecture 12-14 <br>
                    ○ [CSCI 40] 18, 4PM Group Consultation with Sir Ian <br>
                    ✘ [CSCI 40] Lab #1 <br>
                    ● [PHYS 23.12] Lab Report #5 <br>
                </i>
                <br> <b> Orgwork: </b> <br>
                <i>
                    ○ [KYTHE] 17, 1PM Kada Orientation <br>
                </i>
                <br> <b> Others: </b> <br>
                <i>
                    ⁃ [FILM] Sunny16 Lab Processed Film Photos <br>
                    ○ [WATCH] 15, 3AM Attack on Titan Episode <br>
                    ○ [FILM] 17, 9PM FilmSupply.Co Shopee Restock <br>
                    ○ [GAME] 20 Mobile Legends Season 19 End <br>
                    ○ [NEW] 21, 1PM Horimiya Episode <br>
                    ⁃ [WATCH] Naruto Season 2 Episode 5 <br>
                    ⁃ [WATCH] Jujutsu Kaisen Season 1 Episode 17
                </i>
            </p>
        <hr>
            <a href="home">Home</a> &nbsp;&nbsp;
            <a href="profile">Profile</a> &nbsp;&nbsp;
            <a href="key">Key</a> &nbsp;&nbsp;
            <a href="thisweek">This Week</a> &nbsp;&nbsp;
            <a href="today">Today</a>
        </div>
    </body>
</html>