<html style="font-family:helvetica">
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content="width=device-width">
        <title> This Week </title>
        <div align=center>
            <h1> ☾ This Week ☽ </h1>
            <h2><b> 03.05.MON - 03.11.SUN </b></h2>
        </div>
    </head>
    <body>
        <div align=center>
            {% if key %}
            <hr>
                <table border="1" width="600">
                    <tr align="center">
                        <td><b> Key </b></td>
                        <td><b> Details </b></td>
                        <td></td>
                    </tr>
                    {% for x in allitems %}
                    <div id="item">
                        <tr>
                            <td><div id="task"> {{ x.key }} </div></td>
                            <td> {{ x.details }} </td>
                            <td align=center>
                                {% if x.key == "Task" %}
                                <p id="taskbtns">
                                    <button onclick="editItem()"> Edit </button> &nbsp;&nbsp;
                                    <button onclick="deleteItem()"> Delete</button> &nbsp;&nbsp;
                                    <button onclick="markDone()"> Mark as Done </button>
                                </p>
                                {% else %}
                                    <button onclick="editItem()"> Edit </button> &nbsp;&nbsp;
                                    <button onclick="deleteItem()"> Delete</button> &nbsp;&nbsp;
                                {% endif %}
                            </td>
                        </tr>
                    </div>
                {% endfor %}
                </table> <br>
                <button onclick="addItem()"> Add Item </button>
            {% else %}
            <hr>
                <button onclick="addItem()"> Add Item </button>
            {% endif %}

            <hr>
                <a href="home">Home</a> &nbsp;&nbsp;
                <a href="profile">Profile</a> &nbsp;&nbsp;
                <a href="key">Key</a> &nbsp;&nbsp;
                <a href="thisweek">This Week</a> &nbsp;&nbsp;
                <a href="today">Today</a>

            <dialog hidden id="thisweek_form">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit"> Add Item </button>
                </form>
            </dialog>
        
            <script>
                function addItem() {
                    var openTWForm = document.getElementById("thisweek_form");
                    if (openTWForm.style.display == "none") {
                        openTWForm.style.display = "block";
                    } else {
                        openTWForm.style.display = "block";
                    }
                }
                function deleteItem() {
                    var deleteRow = document.getElementById("item");
                    deleteRow.innerHTML = "";
                }
                function markDone() {
                    var changeKey = document.getElementById("task");
                    changeKey.innerHTML = "Task Done";
                    var removeBtns = document.getElementById("taskbtns");
                    removeBtns.innerHTML = "";
                }
            </script>
        </div>
    </body>
</html>