<html style="font-family:helvetica">
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content="width=device-width">
        <title> Today </title>
        <div align=center>
            <h1> ✧ Today ✧ </h1>
        </div>
    </head>
    <body>
        <div align=center>
            <p style="font-size:20px"><b><i> 03.19.FRI </i></b></p>
        <hr>
            <p>
            <b> Schoolwork: </b> <br>
            <i>
                ● [THEO 12] Module 3 <br>
                ● [CSCI 40] Lab #1 <br>
                ● [PHYS 23.12] Lab Report #5 <br>
            </i>
            <br> <b> Orgwork: </b> <br>
            <i>
                None <br>
            </i>
            <br> <b> Others: </b> <br>
            <i>
                ○ [GAME] 10PM, Play Mobile Legends <br>
                ⁃ [WATCH] Jujutsu Kaisen <br>
                ⁃ [WATCH] Naruto Season 2 Episode 5
            </i>
            </p>
        <hr>
            <a href="home">Home</a> &nbsp;&nbsp;
            <a href="profile">Profile</a> &nbsp;&nbsp;
            <a href="key">Key</a> &nbsp;&nbsp;
            <a href="thisweek">This Week</a> &nbsp;&nbsp;
            <a href="today">Today</a>
        </div>
    </body>
</html>